@font-face { 
  font-family: 'Cyberpunk';
  src: url('../fonts/Cyberpunk.otf') format('opentype');
}

body {
  font-family: 'Arial', sans-serif;
  color: #ff9900;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Set the main background color to white */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #333; /* Keep the navigation bar dark for contrast */
}

ul li {
  margin: 0 1.5rem;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  display: block;
}

ul li a:hover {
  color: #007BFF;
  font-weight: bold;
}

h1 {
  color: #feef00;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Cyberpunk', sans-serif; /* Cyberpunk font for the title */
}

h2.main-title {
  color: #ff9800; /* Choose a unique color for main titles */
  font-family: 'Georgia', serif; /* Use a unique, readable font */
  text-align: center;
  margin-bottom: 1rem;
}

section {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 80%;
  background-color: transparent; /* Transparent background for sections */
  border-radius: 0.5rem;
}

.fixed-layout {
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Cyberpunk font styles */
.cyberpunk-font,
.cyberpunk-font-og {
  font-family: 'Cyberpunk' !important;
  text-transform: uppercase;
  letter-spacing: -.15em;
  font-size: 3em;
  color: #feef00;
  text-shadow: #46dffb 1px 1px, #45aefb 2px 2px;
}

@media (max-width: 1000px) {
  ul {
      flex-direction: column;
      align-items: center;
  }

  ul li {
      margin: 0.5rem 0;
  }

  section {
      padding: 1rem;
  }
}
